@import "tailwindcss";

@layer utilities {
  .animate-drop-in {
    animation: drop-in 0.4s ease-out forwards;
  }

  .animate-drop-out {
    animation: drop-out 0.4s ease-in forwards;
  }

  @keyframes drop-in {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes drop-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  .marquee {
    @apply whitespace-nowrap overflow-hidden;
  }

  .marquee-content {
    animation: marquee-left 180s linear infinite;
  }

  @keyframes marquee-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-800%);
    }
  }
}
