@import "tailwindcss";

@layer utilities {
  .animate-drop-in {
    animation: drop-in 0.4s ease-out forwards;
  }

  .animate-drop-out {
    animation: drop-out 0.4s ease-in forwards;
  }

  @keyframes drop-in {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes drop-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
}
